name: Lint

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -e .
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        flake8 | lintly --log --context=flake8 --commit-sha=${{ github.event.pull_request.head.sha }} --use-checks
      env:
        LINTLY_API_KEY: ${{ secrets.GITHUB_TOKEN }}
